.highcharts-tooltip span {
    min-width: 150px;
    max-width:400px;
    white-space: normal !important;
    overflow: hidden;
}

.dataLink {
    text-decoration: solid;
}

.highcharts-subtitle {
    text-align: center;
}

