.highcharts-tooltip span {
  min-width: 150px;
  max-width:400px;
  white-space: normal !important;
  overflow: hidden;
}

.dataLink {
  text-decoration: solid;
}

.highcharts-subtitle {
  text-align: center;
}

@media print {
  .highcharts-subtitle {
      display: none;
  }
}

svg image {
  display: none;
}
@media print {
  svg image {
      display: inherit;
  }
}

.mtLogo {
  position: absolute;
  width: 300px;
  right: 40px;
}

#hcContainer {
  position: relative;
}